*::before, *::after, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222
}
/* Navigation Component */

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-image: url('watercolor-1321645_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  color: aliceblue;
}